<% load './helpers.rb' %><!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="report.css" rel="stylesheet">
    <title>GrizSpace</title>
  </head>
  <body>
    <header>
      <hgroup>
        <h1>GrizSpace</h1>
        <h2>
          Group 8: Will Lyon, Jon-Michael Deldin, Jaylene Naylor, Kevin Scott
        </h2>
      </hgroup>
    </header>

    <% i = 0 %>
    <% $scenarios.each do |section, scenario| %>
    <section>
      <h1><%= i += 1 %>. <%= section %></h1>
      <p class="scenario"><b>Scenario:</b> <%= scenario %></p>
      <% $sections[section].each do |data| %>
      <section>
        <%= i data[:img] %>
        <p><%= data[:desc] %></p>
      </section>
      <% end %>
    </section>
    <% end %>
  </body>
</html>
