<% load './helpers.rb' %>
<% i = 0 %>

<% $scenarios.each do |section, scenario| %>
<div class="page-break-before">&nbsp;</div>

<section class="scenario-section">
  <h1>Scenario <%= i += 1 %>: <%= section %></h1>
  <p class="scenario"><b>Scenario:</b> <%= scenario %></p>
  <div class="page-break-after">&nbsp;</div>
  <% $sections[section].each_slice(2) do |slice| %>
  <table>
    <% slice.each do |data| %>
      <tr>
        <td><%= i data[:img] %></td>
        <td><%= data[:desc] %></p></td>
      </tr>
    <% end %>
    </table>
  </section>
  <% end %>
</section>
<% end %>
